{% extends 'Presento/base.html' %}
{% load static %}
{% block title %}
    Karmana bibliogragiyasi
{% endblock %}
{% block main %}
    <main id="main">
        <section id="hero" class="d-flex align-items-center">

            <div class="container" data-aos="zoom-out" data-aos-delay="100">
                <div class="row">
                    <div class="col-xl-6">
                        <h1>Navoiy viloyati Karmana tuman Axborot-kutubxona markazi.</h1>
                        <h2>Bibliografiya xizmati</h2>
                        <h2>Salom</h2>
                        <a href="#about" class="btn-get-started scrollto">Boshlash</a>
                    </div>
                </div>
            </div>

        </section><!-- End Hero -->
        <section id="clients" class="clients">
            <div class="container" data-aos="zoom-in">

                <div class="clients-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-1.png' %}"
                                                       class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-2.png' %}"
                                                       class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-3.png' %}"
                                                       class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-4.png' %}"
                                                       class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-5.png' %}"
                                                       class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-6.png' %}"
                                                       class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-7.png' %}"
                                                       class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-8.png' %}"
                                                       class="img-fluid" alt=""></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Clients Section -->

        <!-- ======= About Section ======= -->
        <section id="about" class="about section-bg">
            <div class="container" data-aos="fade-up">

                <div class="row no-gutters">
                    <div class="content col-xl-5 d-flex align-items-stretch">
                        <div class="content">
                            <h3>Bibliografiya bo'limi nimalar qiladi?</h3>
                            <p>
                                &nbsp&nbsp&nbsp
                                “Bibliografiya” so‘zi ilk bora Qadimgi Gretsiyada qo‘llanila boshlangan. Bu ikki so‘zdan
                                tashkil topgan: biblion (kitob) va ggarho (yozaman). Bibliografiya – matbuot hamda yozuv
                                asarlari xaqida axborot tayyorlash va berish hamda ularni maʼlum ijtimoiy maqsadlarda
                                targ‘ib qilish bilan shug‘ullanadigan ilmiy va amaliy faoliyat sohasi. Kitob bosish
                                ixtiro qilingunga qadar, kitob yozadiganlar shu nom bilan atalgan. O‘sha davrlarda kitob
                                faqatgina qo‘lda ko‘chirib ko‘paytirilgan, bu ish bilan shug‘ullanuvchilarni bibliograf
                                deb atashgan. Bu nufuzli, yuqori malakali ish hisoblangan.
                                </br>&nbsp&nbsp&nbsp
                            </p>
                            <a href="#" class="about-btn"><span>Biz haqimizda</span> <i class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-7 d-flex align-items-stretch">
                        <div class="icon-boxes d-flex flex-column justify-content-center">
                            <div class="row">
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                                    <i class="bx bx-receipt"></i>
                                    <h4>Hujjatlar to'plami</h4>
                                    <p>Biz sizga hukumat tomonidan chiqarilgan so'ngi qaror va loyihalarni taqdim
                                        eta olamiz.</p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                                    <a href="https://t.me/booktrailer_videorolik"><i class="bx bxs-videos"></i></a>
                                    <h4>Book trailerlar</h4>
                                    <p>Biz sizga kreativ "book trailer"larni taqdim etamiz. Roliklarni bizning telegram
                                        kanallarimizdan tomosha qilishingiz mumkin.
                                        <br> <a href="https://t.me/booktrailer_videorolik" target="_blank">telegram
                                            kanal</a></p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                                    <i class='bx bxs-edit'></i>
                                    <h4>Bibliografik ishlar</h4>
                                    <p>Biz siz aziz kitobxonlar uchun doimiy ravishda bibliografik ishlar tayyorlab
                                        boramiz.
                                        Bibliografik ishlarni bizning telegran kanalizmizdan topishingiz mumkin.
                                        <br> <a href="https://t.me/bibliografik_ish" target="_blank">telegram kanal</a>
                                    </p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                                    <i class='bx bx-library'></i>
                                    <h4>Ibratli hikoyalar</h4>
                                    <p>O'zbek va chet el adabiyoti mashhur arboblarinig ibratli hikoyalarini taklif
                                        qilamiz. Hikoyalarni bizning telegram kanalimizdan topishingiz mumkin.
                                        <br> <a href="https://t.me/ibratli_hikoyalar_AKM" target="_blank"> telegram
                                            kanal</a></p>
                                </div>
                            </div>
                        </div><!-- End .content-->
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->

        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts">
            <div class="container" data-aos="fade-up">

                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="count-box">
                            <i class="bi bi-emoji-smile"></i>
                            <span data-purecounter-start="0" data-purecounter-end="510" data-purecounter-duration="1"
                                  class="purecounter"></span>
                            <p>Kitobxonlarimiz</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                        <div class="count-box">
                            <i class="bi bi-journal-richtext"></i>
                            <span data-purecounter-start="0" data-purecounter-end="22" data-purecounter-duration="1"
                                  class="purecounter"></span>
                            <p>Tadbirlarimiz</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                        <div class="count-box">
                            <i class="bi bi-headset"></i>
                            <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="1"
                                  class="purecounter"></span>
                            <p>Audio Kitoblarimiz</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                        <div class="count-box">
                            <i class="bi bi-people"></i>
                            <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1"
                                  class="purecounter"></span>
                            <p>Xodimlarimiz</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Counts Section -->

        <!-- ======= Tabs Section ======= -->
        <section id="tabs" class="tabs">
            <div class="container" data-aos="fade-up">

                <ul class="nav nav-tabs row d-flex">
                    <li class="nav-item col-3">
                        <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
                            <i class="ri-gps-line"></i>
                            <h4 class="d-none d-lg-block">Maqsad</h4>
                        </a>
                    </li>
                    <li class="nav-item col-3">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
                            <i class="ri-body-scan-line"></i>
                            <h4 class="d-none d-lg-block">Karmanalik ijodkorlar</h4>
                        </a>
                    </li>
                    <li class="nav-item col-3">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
                            <i class="ri-sun-line"></i>
                            <h4 class="d-none d-lg-block">Karmana qadimiy diyor</h4>
                        </a>
                    </li>
                    <li class="nav-item col-3">
                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
                            <i class="ri-bank-line"></i>
                            <h4 class="d-none d-lg-block">Kutubxona haqida</h4>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up"
                                 data-aos-delay="100">
                                <h3>Karmana tuman axborot-kutubxona markazi, axborot-bibliografiya xizmati bo‘limida ham
                                    bibliografik ishlar amalga oshirilib kelinmoqda.</h3>
                                <p class="fst-italic">
                                    Bulardan,turli mavzularda
                                </p>
                                <ul>
                                    <li><i class="ri-check-double-line"></i> estalik yo‘l ko‘rsatkichlar;
                                    </li>
                                    <li><i class="ri-check-double-line"></i> bibliografik sharxlar;
                                    </li>
                                    <li><i class="ri-check-double-line"></i> bibliografik qo‘llanmalar tuzilmoqda
                                        (anʼanaviy va elektron ko‘rinishlarda). Axborot bibliografiya xizmati tomonidan
                                        Karmananing;
                                    </li>
                                    <li><i class="ri-check-double-line"></i> qadimiy yodgorliklari;
                                    </li>
                                    <li><i class="ri-check-double-line"></i> qishloq xo‘jaligi va tumandagi ijodkorlar
                                        haqida maʼlumot tayyorlab borilad;
                                    </li>
                                </ul>
                                <p>

                                </p>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up"
                                 data-aos-delay="200">
                                <img src="{% static 'assets/img/tabs-1.jpg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                <h3>Karmana - azal-azaldan buyuklar kamolga yetgan, maʼrifat uchog‘i sanalgan qo‘hna
                                    shaxarlardan biri sifatida dunyoga mashhur.</h3>
                                <p>
                                    &nbsp;&nbsp;Tarixda har bir xalq va diyorning ilm-maʼrifat egalari o‘sha zaminning
                                    maʼnaviy
                                    taraqqiyotiga o‘zining ulkan hissasini qo‘shgan va bu boy maʼnaviy meros hozirga
                                    qadar xalqning qalbini, dunyoqarashini boyitib kelayotgani uchun ham hech qachon o‘z
                                    ahamiyatini yo‘qotmaydi.

                                </p>
                                <p class="fst-italic">
                                    &nbsp;&nbsp;Qadim va navqiron Karmananing o‘tmishda yashagan hamda bugun o‘z
                                    faoliyatini olib
                                    borayotgan ziyolilari, maʼrifatparvarlari, olimlari o‘z Vatani taraqqiyotiga munosib
                                    ulush qo‘shib kelayotgani doimo eʼtiborimiz markazida bo‘lib kelgan.
                                <p>
                                    &nbsp;&nbsp;Shu maʼnoda aytish mumkin, Karmana tarixini o‘rganish, hamda uning
                                    o‘tmishda yashagan va hozirgi
                                    kunda maʼnaviy hayotimizga o‘zining munosib hissasini qo‘shib kelayotgan, shu
                                    maskanda kamol topgan olimlari haqida maʼlumot beruvchi manba yaratish istagida
                                    izlanuvchan va fidoyi inson, texnika fanlari nomzodi, dotsent Xudoyberdi Hamidov
                                    “Karmanalik olimlar” to‘plamini yaratdi.
                                </p>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="{% static 'assets/img/tabs-2.jpg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-3">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                <h3>O‘lkashunoslik bibliografiyasi</h3>
                                <p>
                                    &nbsp;&nbsp;O‘lkashunoslik bibliografiyasi mamlakatning maʼlum bir olingan joyi
                                    (tuman, shahar,
                                    viloyat, geografik zona va h.k.) bilan mazmunan bog‘liq bo‘lgan adabiyotlarni
                                    bibiliografiyalash tushuniladi.
                                </p>
                                <p>
                                <p class="fst-italic">
                                    &nbsp;&nbsp;Bibliografiya tarixi
                                    —uning qonuniyatlari va
                                    rivojlanish tendensiyalarini o‘rganadi.
                                </p>
                                &nbsp;&nbsp;Bunda bibliografiya tarixi jamiyatlar tarixi, siyosat tarixi, jamiyatning
                                iqtisodiy,
                                madaniy-ma’naviy
                                hayoti bilan bog‘liq holda o‘rganiladi. Rus bibliografiyasi tarixi masalalarini
                                mashhur bibliograflar N.V.Zdobnov, M.V.Mashkova, L.M.Ravich, S.A.Reyser,
                                B.A.Semyonovker, K.R.Simonlar o‘rganganlar.O‘zbekiston bibliografiyasi, umuman,
                                O‘rta Osiyo bibliografiyasi tarixini o‘zbek bibliograf
                                olimlaridanM.M.Òuropov,Sh.M.Shamsiyev, E.O.Oxunjonov, H.Mamatraimova,
                                turkmanistonlik olim A. Yazberdiyevlar tadqiq qilib o‘rganganlar.
                                </p>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="{% static 'assets/img/tabs-3.jpg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-4">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                <h3>Bibliografiya ishi vazifalari</h3>
                                <p>
                                    &nbsp;&nbsp;<strong>Bibliografiya ishi vazifalari</strong> — kitobxonlarning
                                    mustaqil o‘qishiga ta’sir etish. Buvazifani amalga oshirishda
                                    kartotekalar, bibliografik qo‘llanmalar, tavsiya xarakteridagi ko‘rsatkichlar
                                    yordamida kitobxonlar o‘qishini boshqarish, tashkil etish bilan amalga oshiriladi,
                                    kitobxonlarni axborot olamiga olib kiradi, mustaqil ravishda undan foydalanish
                                    ko‘nikmasini tarbiyalaydi, eng yaxshi va zarur hujjatlarni tanlab olishga yordam
                                    beradi, undagi bilimni to‘g‘ri va aniq qabul qilishga yo‘llaydi, kitobxonda axborot
                                    madaniyatini tarbiyalaydi.
                                </p>
                                <ul>
                                    <li><i class="ri-check-double-line"></i> Mamlakatning ijtimoiy-iqtisodiy
                                        rivojlanishiga yordam
                                        beradi (har doim jamiyat fan va texnikaning rivoji tufayli taraqqiy topgan, bu
                                        esa
                                        ana shu fan va texnikani boshqaruvchi, ishlab chiquvchi mutaxassis kadrlarning
                                        bilimini oshirishga bog‘liq, bunda bibliografiya yordamga keladi).
                                    </li>
                                    <li><i class="ri-check-double-line"></i> Bibliografiya
                                        yordamida mutaxassis zarur adabiyotlarni qidirib topadi, tanlaydi, u bilan
                                        ishlaydi,
                                        eng asosiysi, adabiyot tanlashda murakkabliklarga uchramaydi.
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="{% static 'assets/img/tabs-4.jpg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Tabs Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg ">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Xizmatlar</h2>
                    <p>Biz kitobxonlarimiz uchun quyidagilarni taqdim etamiz. <br>Ozingiz yoqtirgan bo'limni tanshlash
                        orqali telegram kanallarimizga o'tishingiz mumkin</p>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <i class='bx bxs-pen'></i>
                            <h4><a href="{% url 'writers' %}">Karmanalik ijodkorlar</a></h4>
                            <p>Karmanalik ijodkorlar o‘z mohiyatiga
                                ko‘ra hayotning kuzatuvchisi bo‘lib, borliqning murakkab tomonlarini yorib, kitobxonlar
                                qalbi va ongiga jo‘shqin so‘zlarga aylantiradi.</p>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4 mt-md-0">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-card-checklist"></i>
                            <h4><a href="{% url 'toponyms' %}">Toponimlar</a></h4>
                            <p> Er yuzidagi har bir joyning o'z nomi bor va bu nomlar ko'pincha o'zlari bilan boy tarix,
                                madaniy tushunchalar va geografik ahamiyatga ega. Bu joy nomlari toponimlar sifatida
                                tanilgan va ular insoniyat tajribasiga maftunkor oyna bo‘lib xizmat qiladi va
                                dunyomizning o‘tmishi va bugunining murakkab gobeleniga nazar tashlash imkonini
                                beradi.</p>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4 mt-md-0">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                            <i class="bi bi-briefcase"></i>
                            <h4><a href="#">Karmanalik olimlar</a></h4>
                            <p>Karmanada tug‘ulib, turli xil sohalarda ijod qilib, yurt ravnaqi yo‘lida o‘z mehnatlari
                                bilan tanilgan olimu ijodkorlar haqida sizga ma'lumot beramiz. Qadim zamin farzandlarini
                                avlodlar hurmat va ehtirom bilan ardoqlaydi.</p>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4 mt-md-0">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                            <i class='bx bxs-castle'></i>
                            <h4><a href="#">Qadamjolar</a></h4>
                            <p>Karmana-qadimiy diyor. Karmanadagi qadimiy obidalar haqida ma'lumotlarni sizga taqdim
                                etamiz. Qosim SHayx, Deggoroniy, Raboti Malik, Sardoba va Burqutqal'a kabi betakror
                                tarixiy maskanlar mavjud</p>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Services Section -->

        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Karmana kitoblari</h2>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">Barchasi</li>
                            <li data-filter=".filter-app">Janr 1</li>
                            <li data-filter=".filter-card">Janr 2</li>
                            <li data-filter=".filter-web">Janr 3</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{% static 'assets/img/books/image_1.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Janr 1</h4>
                                <p>Karmana Tarix ko'zgusida</p>
                                <div class="portfolio-links">
                                    <a href="{% static 'assets/img/books/image_1.jpg' %}"
                                       data-gallery="portfolioGallery"
                                       class="portfolio-lightbox" title="Karmana Tarix ko'zgusida"><i
                                            class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="{% static 'assets/img/books/image_2.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Janr 3</h4>
                                <p>Karmana kechmishi</p>
                                <div class="portfolio-links">
                                    <a href="{% static 'assets/img/books/image_2.jpg' %}"
                                       data-gallery="portfolioGallery"
                                       class="portfolio-lightbox" title="Karmana kechmishi"><i
                                            class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{% static 'assets/img/books/image_3.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Janr 1</h4>
                                <p>Karmana qadimiy diyor</p>
                                <div class="portfolio-links">
                                    <a href="{% static 'assets/img/books/image_3.jpg' %}"
                                       data-gallery="portfolioGallery"
                                       class="portfolio-lightbox" title="Karmana qadimiy diyor"><i
                                            class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="{% static 'assets/img/books/image_4.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Janr 2</h4>
                                <p>Buyuk valiy ulug' alloma, atoqli tarbiyachi</p>
                                <div class="portfolio-links">
                                    <a href="{% static 'assets/img/books/image_4.jpg' %}"
                                       data-gallery="portfolioGallery"
                                       class="portfolio-lightbox" title="Buyuk valiy ulug' alloma, atoqli tarbiyachi"><i
                                            class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="{% static 'assets/img/books/image_5.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Janr 3</h4>
                                <p>Karmana tarixi</p>
                                <div class="portfolio-links">
                                    <a href="{% static 'assets/img/books/image_5.jpg' %}"
                                       data-gallery="portfolioGallery"
                                       class="portfolio-lightbox" title="Karmana tarixi"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img src="{% static 'assets/img/books/image_6.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Janr 1</h4>
                                <p>Amir Abdulahadxon davrida karmana</p>
                                <div class="portfolio-links">
                                    <a href="{% static 'assets/img/books/image_6.jpg' %}"
                                       data-gallery="portfolioGallery"
                                       class="portfolio-lightbox" title="Amir Abdulahadxon davrida karmana"><i
                                            class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="{% static 'assets/img/books/image_7.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Janr 2</h4>
                                <p>Daryo sohilidagi qishloq</p>
                                <div class="portfolio-links">
                                    <a href="{% static 'assets/img/books/image_7.jpg' %}"
                                       data-gallery="portfolioGallery"
                                       class="portfolio-lightbox" title="Daryo sohilidagi qishloq"><i
                                            class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img src="{% static 'assets/img/books/image_8.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Janr 3</h4>
                                <p>Karmananing yetti piri</p>
                                <div class="portfolio-links">
                                    <a href="{% static 'assets/img/books/image_8.jpg' %}"
                                       data-gallery="portfolioGallery"
                                       class="portfolio-lightbox" title="Karmananing yetti piri"><i
                                            class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img src="{% static 'assets/img/books/image_9.jpg' %}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Janr 3</h4>
                                <p>Karmanalik buyuk siymolar va muqaddas qadamjolar</p>
                                <div class="portfolio-links">
                                    <a href="{% static 'assets/img/books/image_9.jpg' %}"
                                       data-gallery="portfolioGallery"
                                       class="portfolio-lightbox"
                                       title="Karmanalik buyuk siymolar va muqaddas qadamjolar"><i
                                            class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Portfolio Section -->

        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Ilgor xodimlar</h2>
                    <p>Xodimlar tomonidan qo'lga kiritilgan yutuqlar</p>
                </div>

                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-wrap">
                                <div class="testimonial-item">
                                    <img src="{% static 'assets/img/testimonials/employee2.png' %}"
                                         class="testimonial-img" alt="">
                                    <h3>Bo‘tayeva Habiba</h3>
                                    <h4>Bibliograf g‘oya muallifi</h4>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                        Karmana tuman axborot- kutubxona markazi. Axborot bibliografiya bo‘limi
                                        mutaxassisi.Sayt tashkilotchisi. G‘oya muallifi
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-wrap">
                                <div class="testimonial-item">
                                    <img src="{% static 'assets/img/testimonials/employee1.png' %}"
                                         class="testimonial-img" alt="">
                                    <h3>Navro‘zbayeva Laylo</h3>
                                    <h4>Axborot bibliografiya bo‘lim rahbari</h4>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                        Navoiy viloyat Karmana tuman Axborot-kutubxona markazi. Axborot bibliografiya
                                        bo'lim rahbari
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-wrap">
                                <div class="testimonial-item">
                                    <img src="{% static 'assets/img/testimonials/employee3.png' %}"
                                         class="testimonial-img" alt="">
                                    <h3>O‘rinboyeva Nargiza.</h3>
                                    <h4>Yordamachi kutubxonachi</h4>
                                    <p>
                                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                        Navoiy viloyat Karmana tuman axborot-kutubxona markazi mutaxassisi
                                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div><!-- End testimonial item -->

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Testimonials Section -->

        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Ko'p so'raladigan savollar</h2>
                </div>

                <ul class="faq-list accordion" data-aos="fade-up">

                    <li>
                        <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1">Non consectetur a erat nam
                            at
                            lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-x icon-close"></i></a>
                        <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non
                                curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus
                                non.
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-bs-toggle="collapse" data-bs-target="#faq2" class="collapsed">Feugiat scelerisque varius
                            morbi enim nunc faucibus a pellentesque? <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-x icon-close"></i></a>
                        <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum
                                velit
                                laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec
                                pretium.
                                Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa
                                tincidunt dui.
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-bs-toggle="collapse" data-bs-target="#faq3" class="collapsed">Dolor sit amet consectetur
                            adipiscing elit pellentesque habitant morbi? <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-x icon-close"></i></a>
                        <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus
                                pulvinar
                                elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus
                                pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at
                                elementum eu facilisis sed odio morbi quis
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-bs-toggle="collapse" data-bs-target="#faq4" class="collapsed">Ac odio tempor orci
                            dapibus.
                            Aliquam eleifend mi in nulla? <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-x icon-close"></i></a>
                        <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum
                                velit
                                laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec
                                pretium.
                                Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa
                                tincidunt dui.
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-bs-toggle="collapse" data-bs-target="#faq5" class="collapsed">Tempus quam pellentesque
                            nec
                            nam aliquam sem et tortor consequat? <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-x icon-close"></i></a>
                        <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est
                                ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit
                                adipiscing
                                bibendum est. Purus gravida quis blandit turpis cursus in
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-bs-toggle="collapse" data-bs-target="#faq6" class="collapsed">Tortor vitae purus
                            faucibus
                            ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i
                                    class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                        <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo
                                integer
                                malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem
                                dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam
                                volutpat
                                commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non
                                blandit massa enim nec.
                            </p>
                        </div>
                    </li>

                </ul>

            </div>
        </section><!-- End Frequently Asked Questions Section -->

        <!-- ======= Team Section ======= -->
        {#        <section id="team" class="team section-bg">#}
        {#            <div class="container" data-aos="fade-up">#}
        {##}
        {#                <div class="section-title">#}
        {#                    <h2>Xodimlar</h2>#}
        {#                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit#}
        {#                        sint#}
        {#                        consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>#}
        {#                </div>#}
        {##}
        {#                <div class="row">#}
        {##}
        {#                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">#}
        {#                        <div class="member" data-aos="fade-up" data-aos-delay="100">#}
        {#                            <div class="member-img">#}
        {#                                <img src="{% static 'assets/img/team/team-1.jpg' %}" class="img-fluid" alt="">#}
        {#                                <div class="social">#}
        {#                                    <a href=""><i class="bi bi-twitter"></i></a>#}
        {#                                    <a href=""><i class="bi bi-facebook"></i></a>#}
        {#                                    <a href=""><i class="bi bi-instagram"></i></a>#}
        {#                                    <a href=""><i class="bi bi-linkedin"></i></a>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                            <div class="member-info">#}
        {#                                <h4>Walter White</h4>#}
        {#                                <span>Chief Executive Officer</span>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {##}
        {#                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">#}
        {#                        <div class="member" data-aos="fade-up" data-aos-delay="200">#}
        {#                            <div class="member-img">#}
        {#                                <img src="{% static 'assets/img/team/team-2.jpg' %}" class="img-fluid" alt="">#}
        {#                                <div class="social">#}
        {#                                    <a href=""><i class="bi bi-twitter"></i></a>#}
        {#                                    <a href=""><i class="bi bi-facebook"></i></a>#}
        {#                                    <a href=""><i class="bi bi-instagram"></i></a>#}
        {#                                    <a href=""><i class="bi bi-linkedin"></i></a>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                            <div class="member-info">#}
        {#                                <h4>Sarah Jhonson</h4>#}
        {#                                <span>Product Manager</span>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {##}
        {#                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">#}
        {#                        <div class="member" data-aos="fade-up" data-aos-delay="300">#}
        {#                            <div class="member-img">#}
        {#                                <img src="{% static 'assets/img/team/team-3.jpg' %}" class="img-fluid" alt="">#}
        {#                                <div class="social">#}
        {#                                    <a href=""><i class="bi bi-twitter"></i></a>#}
        {#                                    <a href=""><i class="bi bi-facebook"></i></a>#}
        {#                                    <a href=""><i class="bi bi-instagram"></i></a>#}
        {#                                    <a href=""><i class="bi bi-linkedin"></i></a>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                            <div class="member-info">#}
        {#                                <h4>William Anderson</h4>#}
        {#                                <span>CTO</span>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {##}
        {#                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">#}
        {#                        <div class="member" data-aos="fade-up" data-aos-delay="400">#}
        {#                            <div class="member-img">#}
        {#                                <img src="{% static 'assets/img/team/team-4.jpg' %}" class="img-fluid" alt="">#}
        {#                                <div class="social">#}
        {#                                    <a href=""><i class="bi bi-twitter"></i></a>#}
        {#                                    <a href=""><i class="bi bi-facebook"></i></a>#}
        {#                                    <a href=""><i class="bi bi-instagram"></i></a>#}
        {#                                    <a href=""><i class="bi bi-linkedin"></i></a>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                            <div class="member-info">#}
        {#                                <h4>Amanda Jepson</h4>#}
        {#                                <span>Accountant</span>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {##}
        {#                </div>#}
        {##}
        {#            </div>#}
        {#        </section><!-- End Team Section -->#}

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Biz bilan aloqa</h2>
                    <p>Biz bilan aloqaga chiqish uchun</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">

                    <div class="col-lg-6">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="info-box">
                                    <i class="bx bx-map"></i>
                                    <h3>Bizning manzil</h3>
                                    <p>Naoiy viloyati Karmana tumani</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box mt-4">
                                    <i class="bx bx-envelope"></i>
                                    <h3>Elektron pochta orqali</h3>
                                    <p>info@example.com<br>contact@example.com</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box mt-4">
                                    <i class="bx bx-phone-call"></i>
                                    <h3>Qo'ng'iroq qilish uchun</h3>
                                    <p>+998 99 123 45 67<br>+998 90 777 66 55</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="col form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Ismingi"
                                           required>
                                </div>
                                <div class="col form-group">
                                    <input type="email" class="form-control" name="email" id="email"
                                           placeholder="Elektron pochtangiz" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject"
                                       placeholder="Savol mavzusi" required>
                            </div>
                            <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" placeholder="Matn qismi"
                                      required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Yuborilmoqda</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Habaringiz muvoffaqiyatli junatildi</div>
                            </div>
                            <div class="text-center">
                                <button type="submit">Yuborish</button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
{% endblock %}

